<pre>
  Filter by: {{ filterBy }}
</pre>
<md-nav-list>
  <!--
    Documentation: https://angular.io/docs/ts/latest/api/common/index/NgFor-directive.html
    Meh... the documentation does not tell you that the "let-item" attribute will create an "item" local variable.
    And since the API has changed 25.685.624 times sinces last version, online resources are not relevant anymore. Sad!
  -->
  <template ngFor let-item [ngForOf]="players">
    <md-list-item (click)="null">
      <img md-list-avatar [src]="item.avatarUrl" alt="item avatar">
      <a md-line>{{ item.name }}</a>
    </md-list-item>
    <md-divider></md-divider>
  </template>
</md-nav-list>
